<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body style="background-color: #000000">
    <pre style="color: #FFFFFF">
                               CHASE
                         CREATIVE COMPUTING
                       MORRISTOWN, NEW JERSEY
    YOU ARE WITHIN THE WALLS OF A HIGH VOLTAGE MAZE
    THERE ARE FIVE SECURITY MACHINES TRYING TO DESTROY YOU
    YOU ARE THE '*'  THE INTERCEPTORS ARE THE '+'
    THE AREAS MARKED 'X' ARE HIGH VOLTAGE
    YOUR ONLY CHANCE FOR SURVIVAL IS TO MANEUVER EACH
    INTERCEPTOR INTO AN 'X'.-----GOOD LUCK-----
    MOVES ARE   7.8.9
                4.*.6
                1.2.3

    10 = NO MOVE FOR THE REST OF THE GAME
    -1 = GAVE UP, SITUATION HOPELESS.
    0  = A TREMENDOUS (BUT UNFORTUNATELY RANDOM) LEAP

    @RenderBody()
    <form method="post" action="/">
    > <input type="text" id="cli_input" name="cli_input" required minlength="1" maxlength="1" size="10" style="background-color: #000000; border: None; color: #FFFFFF"/>
    </form>
    </pre>
    
</body>
</html>